@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Architects+Daughter&family=Corinthia&family=Courgette&family=Festive&family=Fredoka&family=Italianno&family=Jim+Nightshade&family=Lobster&family=Meow+Script&family=Merienda&display=swap');* {
    padding: 0%;
    margin: 0%;
}
* {
    padding: 0%;
    margin: 0%;
}
body {
    max-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    box-shadow: 0vh 0vh 1vh;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;

}
nav a img {
    width: 4vw;
} 
nav a  {
    text-decoration: none;
    color: black;
    font-family: 'Fredoka', sans-serif;
    padding: 0 10px;
} 
                             
.right_icon {
    margin-right: 20vw;
}
.left_icon {
    margin-left: 20vw;
}
#search-box {
    height: 3%;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
#search-box input {
    border: none;
    outline: none;
    width: 0vw;
    font-size: 16px;
    transition: all 0.8s;
    cursor: pointer;
}
#search-box:hover input {
    width: 10vw;
    transition: all 0.8s;
}
#product-counter {
    margin-left: -15px;
    margin-bottom: -15px;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgb(0, 125, 181);
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium';
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 8rem;
    border: 0.1rem solid rgb(255, 255, 255);
    bottom: 0.6rem;
    transition: all 0.8s;
}
nav a p::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: black;
    transition:  0.3s linear;
    margin: auto;
    display: block;
}
nav a p:hover::after {
    width: 100%;
    margin-top: 8px;
}

header section img {
    display: flex;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    transition: 0.5s ease-in-out;
}
#text_image {
    position: absolute;
    top: 45%;
}
article aside p {
    display: flex;
    margin-left: 5%;
}
article aside a {
     color: black;
     margin-left: 90vw;
     position: relative;
     bottom: 4vh;
}
.big_text {
   font-size: 2rem;
}
.grey_text {
    color: grey;
}
article section {
    display: flex;
    width: 90vw;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
article section img {
    transition: 0.3s ease-in-out;
    width: 20vw;
    transform: scale(1);
}
article section img:hover {
    transform: scale(1.2);
}

section a p {
    padding-top: 2vh;
}
section a {
    text-decoration: none;
}

.product_condition {
    border-left: 0.2rem solid rgb(0, 0, 0);
    float:left;
    width:50%;
    padding-left: 1vw;
    color: black;
}
.name {
    color: rgb(68,68,68);
}
.product_color {
    color: rgb(110,110,110);
}
.price {
    color: black;
}
.the_essentials {
    display: flex;
    background-image: url(../images/the_essentials.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5vh;
    height: 80vh;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 

.the_essentials_text1 {
    font-size: 3rem;
}
.the_essentials_text2 {
    font-size: 1.2rem;
    padding-bottom: 2%;
}
.the_essentials_text_color {
    color: white;
}

article figcaption a {
    display: flex;
    text-decoration: none;
    font-family:'Fredoka';
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 6vh;
    border-radius: 20px;
}

.shop_mens {
    background-color: gray;
    color: white;
}
.shop_womens1 {
    background-color: white;
    color: black;
}

.background_colors {
    display: flex;
    height: 60vh;
    flex: 90vw;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-around;
}
.shop_womens2 {
    background-color: lightskyblue;
}
.shop_mens2 {
    background-color: darkblue;
}
.shop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45vw;
}
.background_colors p {
    color: aliceblue; 
    font-size: 2rem;
    font-family: 'Abril Fatface'
}
.background_colors a {
    display: flex;
    position: relative;
    top: 20%;
    right: 15%;
    background-color: aliceblue;
    color: black;
    font-family: 'Fredoka', sans-serif;
    height: 5vh;
    border-radius: 12px;
    width: 7vw;
    align-items: center;
    justify-content: center;
}
.sign_in {
    display: flex;
    margin-top: 5%;
    background-color: black;
    height: 20vh;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: 'Fredoka', sans-serif;
}
.sign_in a {
    display: flex;
    margin-left: 5%;
    color: black;
    background-color: white;
    width: 8vw;
    height: 5vh;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
footer {
    display: flex;
    margin-top: 5%;
}
footer th a {
    text-decoration: none;
    color: grey;
    margin-left: 2vw;
}
footer th {
    height: 10vh;
}
footer a:hover {
    color: rgba(110,110,110,0.5);
}
footer th img {
    width: 15vw;
} 
footer th span {
    font-family: 'Fredoka', sans-serif;
}
iframe {
    width: 15vw;
    height: 20vh; 
    padding: 1% 1%;
}
th i {
    font-size: 2rem;
    color: black;
    padding: 2%;
}
th i:hover {
    color: grey;
}
.find_us {
    font-size: 1.5rem;
    font-family: 'Fredoka', sans-serif;
}
.product-view {
    width: auto;
    margin-left: 2vw;
    margin-top: 3vh;

}
.product-viewfront {
    width: 40vw;
}
.product-zoom {
    width: 20vw;
}
.product-viewsides {
    width: 20vw;
}
.product-information {
    position: absolute;
    top: 20vh;
    left: 65vw;
    font-size: 1.2rem;
}

aside div p {
    margin-bottom: 2vh;
    margin-top: 2vh;
}
aside div img {
    cursor: pointer;
    width: 8vw;
}
aside div span {
    display: inline-block;
    border: solid 0.1vw black;
    border-radius: 10px;
    padding: 5%;
    width: 2vw;
    margin: 1vw;
}
.size {
    cursor: pointer;
    background-color: white;
}
.size:hover {
    background-color: black;
    color: white;
}
.selectedSize {
    background-color: black;
    color: white
}
#button-box {
    padding-top: 10%;
}
.add-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 6vh;
    border-radius: 20px;
    margin: 6%;
    text-decoration: none;
    color: white;
    font-family: 'Fredoka', sans-serif;
}
#add-to-bag {
    background-color: rgb(0, 125, 181);
}

#add-to-wichlist {
    background-color: grey;
}
#add-to-wichlist:hover {
    background-color: lightgrey;
}
#login-box {
    width: 30vw;
    padding: 30px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.8);
    text-align: center;
}
#login-box h1 {
    color: white;
    font-weight: 700;
    font-family: 'Fredoka', sans-serif;

}
#login-box input{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid grey;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
}
#login-box input[type="email"]:focus, #login-box input[type="password"]:focus {
    width: 270px;
    border-color: rgb(240, 255, 255);
}

#login-box input[type="submit"] {
    cursor: pointer;
    border-color: lightgrey;
}
#login-box input[type="submit"]:hover {
    background: lightgray;
    color: black;
}
.login-background {
    max-width: 100%;
}
#text-error {
    display: block;
    color: black;
    font-weight: 300;
    font-style: italic;
    padding: 3px;
}
#shopping-bag {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
}
#shopping-bag h1 {
    font-family: 'Fredoka', sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6%;
    margin-top: 6%;
    font-size: 2rem;
}
#cart-container td a {
   color: black;
   background-color: aqua;
   width: 10vw;
   border-radius: 15px;
}
.errorMessage {
    color:red; 
    padding-bottom:20px; 
    font-family: cursive; 
    font-size: 0.9rem
}


/* TODO
-fixa responsity... till alla sidor

-gör en sida med en tabell till kundvagnen

-beskriv bilder

-fel med login background vid mindre skärm

-navbar i start sidan

-problem submit login
*/
