@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Architects+Daughter&family=Corinthia&family=Courgette&family=Festive&family=Fredoka&family=Italianno&family=Jim+Nightshade&family=Lobster&family=Meow+Script&family=Merienda&display=swap');
* {
    padding: 0%;
    margin: 0%;
}
:root {
    --font-text: 'Fredoka', sans-serif;
}
body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
header {
    position: sticky;
    top: 0;
    z-index: 1;
}
a {
    text-decoration: none;
}
header nav {
    display: flex;
    align-items: center;
    height: 10vh;
    box-shadow: 0vh 0vh 10px;
    background-color: white;
    justify-content: space-around;
}
nav a img {
    width: 5vw;
}
.nav-links {
 display: flex;
}
nav a  {
    color: black;
    font-family: var(--font-text);
    padding: 0 10px;
}                     
#search-box {
    height: 3%;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
#search-box input {
    border: none;
    outline: none;
    width: 0vw;
    font-size: 16px;
    transition: all 0.8s;
    cursor: pointer;
}
#search-box:hover input {
    width: 10vw;
    transition: all 0.8s;
}
#product-counter {
    margin-left: -15px;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgb(0, 125, 181);
    color: rgb(255, 255, 255);
    font-family: var(--font-text);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 8rem;
    border: 0.1rem solid rgb(255, 255, 255);
    bottom: 0.6rem;
    transition: all 0.8s;
}
nav a p::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: black;
    transition: 0.3s linear;
    margin: auto;
    display: block;
}
nav a p:hover::after {
    width: 100%;
    margin-top: 8px;
}
section img {
    display: flex;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    transition: 0.5s ease-in-out;
}
#store-news {
    display: flex;
    align-items: center;
    justify-content: center;
}
#text_image {
    position: absolute;
}
article aside p {
    display: flex;
    margin-left: 5%;
}
article aside a {
     color: black;
     margin-left: 90vw;
     position: relative;
     bottom: 4vh;
}
.big_text {
   font-size: 2rem;
}
.grey_text {
    color: grey;
}
article section {
    display: flex;
    width: 90vw;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
article section img {
    transition: 0.3s ease-in-out;
    width: 20vw;
}
article section img:hover {
    transform: scale(1.2);
}
section a p {
    padding-top: 2vh;
}
.product_condition {
    border-left: 0.2rem solid rgb(0, 0, 0);
    float:left;
    width:50%;
    padding-left: 1vw;
    color: black;
}
.name {
    color: rgb(68,68,68);
}
.product_color {
    color: rgb(110,110,110);
}
.price {
    color: black;
}
.the_essentials {
    display: flex;
    background-image: url(../images/the_essentials.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5vh;
    height: 80vh;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 
.the_essentials_text1 {
    font-size: 3rem;
}
.the_essentials_text2 {
    font-size: 1.2rem;
    padding-bottom: 2%;
}
.the_essentials_text_color {
    color: white;
}
article figure a {
    display: flex;
    font-family: var(--font-text);
    justify-content: center;
    align-items: center;
    width: auto;
    height: 6vh;
    border-radius: 20px;
}
.shop_mens {
    background-color: gray;
    color: white;
}
.shop_womens1 {
    background-color: white;
    color: black;
}
.background_colors {
    display: flex;
    height: 60vh;
    flex: 90vw;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-around;
}
.shop_womens2 {
    background-color: lightskyblue;
}
.shop_mens2 {
    background-color: darkblue;
}
.shop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45vw;
}
.background_colors p {
    color: aliceblue; 
    font-size: 2rem;
    font-family: 'Abril Fatface';
}
.background_colors a {
    display: flex;
    position: relative;
    top: 20%;
    right: 15%;
    background-color: aliceblue;
    color: black;
    font-family: var(--font-text);
    height: 5vh;
    border-radius: 15px;
    width: auto;
    padding: 0.5%;
    align-items: center;
    justify-content: center;
}
.sign_in {
    display: flex;
    margin-top: 5%;
    background-color: black;
    height: 20vh;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: var(--font-text);
}
.sign_in a {
    display: flex;
    margin-left: 5%;
    color: black;
    background-color: white;
    width: auto;
    padding: 0.5%;
    height: 5vh;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.delete-buy-buttons {
    display: flex;
    flex-direction: row;
}
 .delete-buy-product {
    color: white;
    background-color: rgb(0, 125, 181);
    font-size: x-large;
    font-family: var(--font-text);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 8vh;
    margin: 3%;
    width: 50vw;
 }
 #checkout {
     background-color: gray;
 }
#footer {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}
#about-gymshark {
    width: 50vw;
}
footer th a {
    color: grey;
    margin-left: 2vw;
}
footer th {
    height: 10vh;
}
footer a:hover {
    color: rgba(110,110,110,0.5);
}
#footer span {
    font-family: var(--font-text);
    padding-left: 14%;
}
iframe {
    min-width: 5vw;
    padding: 1% 1%;
    padding-left: 33%;
}
#footer a i {
    font-size: 2rem;
    color: black;
    padding: 1%;
}
#footer i:hover {
    color: grey;
}
#more-about {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
}
#more-about img{
   width: 23%;
   padding-left: 50px;
}
#more-about div {
    width: 50vw;
}
.find_us {
    font-size: 1.5rem;
    font-family: var(--font-text);
    padding-left: 40%;
}
.product-view {
    margin: 3%;
}
.product-viewfront {
    width: 30vw;
}
.product-zoom {
    width: 15vw;
}
.product-viewsides {
    width: 15vw;
}
.product-information {
    font-size: 1.2rem;
    margin: 3%;
}
.product-detail {
    display: flex;
    flex-direction: row;
}
aside div p {
    margin-bottom: 2vh;
    margin-top: 2vh;
}
aside div img {
    cursor: pointer;
    width: 8vw;
}
aside div span {
    display: inline-block;
    border: solid 0.1vw black;
    border-radius: 10px;
    padding: 6%;
    width: 2vw;
    margin: 1vw;
}
.size {
    cursor: pointer;
    background-color: white;
    transition: 0.25s;
    width: auto;
}
.size:hover {
    background-color: black;
    color: white;
}
.selectedSize {
    background-color: black;
    color: white;
    transition: 0.25s;
    border-radius: 50px;
}
#button-box {
    padding-top: 10%;
}
.add-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 6vh;
    border-radius: 20px;
    margin: 6%;
    color: white;
    font-family: var(--font-text);
}
#add-to-bag {
    background-color: rgb(0, 125, 181);
}
#add-to-wichlist {
    background-color: grey;
}
#add-to-wichlist:hover {
    background-color: lightgrey;
}
#login-box {
    width: 30vw;
    padding: 30px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.85);
    text-align: center;
}
#login-box h1 {
    color: white;
    font-weight: 700;
    font-family: var(--font-text);
}
#login-box input{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid grey;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
#login-box input[type="email"]:focus, #login-box input[type="password"]:focus { 
    width: 270px;
    border-color: rgb(240, 255, 255);
}
#login-box input[type="submit"] {
    cursor: pointer;
    border-color: lightgrey;
}
#login-box input[type="submit"]:hover {
    background: lightgray;
    color: black;
}
.login-background {
    max-width: 100%;
}
#text-error {
    display: block;
    color: black;
    font-weight: 300;
    font-style: italic;
    padding: 3px;
}
#shopping-bag h1 {
    display: flex;
    font-family: var(--font-text);
    margin-top: 6%;
    margin-bottom: 10%;
    font-size: 2rem;
    justify-content: center;
}
.errorMessage {
    color:red; 
    padding-bottom:20px; 
    font-family: cursive; 
    font-size: 0.9rem
}
.quantity {
   width: 5vw;
}
.selectedColor {
    transition: 0.45s;
    transform: scale(1.1);
}
#shopping-bag img {
    width: 60%;
}
.cart {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
@media screen and (max-width: 992px) {
    nav a img {
        width: 6vw;
    }
    #about-gymshark {
        width: 100vw;
    }
    #more-about {
        width: 100vw;
    }
    #more-about div {
        width: 100vw;
    }
    #footer {
        flex-wrap: wrap;
    }
    .product-detail {
        display: flex;
        flex-direction: column;
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
    }
    aside div img {
        width: 12vw;
    }
    #login-box {
        width: 50vw;
    }
    .big_text {
        font-size: 1.5rem;
    }
    article aside a {
        margin-left: 70vw;
    }
  }

@media screen and (max-width: 600px) {
    nav a img {
        width: 10vw;
    }
    article section img {
        width: 30vw;
    }
    #login-box {
        width: 60vw;
    }
    .login-background {
        height: 100vh;
    }
    #more-about a{
        width: 20vw;
    }
    #footer span {
        padding-left: 14%;
        font-size: 15px;
    }
}
@media screen and (max-width: 480px) {
    nav a img {
        width: 12vw;
    }
    header nav {
        flex-direction: column;
        height: 22vh;
    }
    #search-box:hover input {
        width: 20vw;
    }
    article section img {
        width: 40vw;
    }
    aside div img {
        width: 15vw;
    }
    .product-viewfront {
        width: 40vw;
    }
    .product-viewsides {
        width: 30vw;
    }
    .product-zoom {
        width: 30vw;
    }
    #shopping-bag img {
        width: 30vw;
    }
    #more-about {
        width: 100vw;
    }
    #more-about img {
        padding-left: 20px;
        width: 25vw;
    }
    .background_colors p {
        font-size: 1.5rem;
    }
  
    iframe {
        padding-left: 3%;
        margin: 3px;
    }
    #footer span {
        padding-left: 3%;
    }
}

/* TODO
-fixa responsity... till alla sidor

-en background img med hög upplösning 800kb----

-onödig repeterande css code ......
*/
