@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Architects+Daughter&family=Corinthia&family=Courgette&family=Festive&family=Fredoka&family=Italianno&family=Jim+Nightshade&family=Lobster&family=Meow+Script&family=Merienda&display=swap');* {
    padding: 0%;
    margin: 0%;
}
* {
    padding: 0%;
    margin: 0%;
}
body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    box-shadow: 0vh 0vh 1vh;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}
nav a img {
    width: 4vw;
} 
nav a  {
    text-decoration: none;
    color: black;
    font-family: 'Fredoka', sans-serif;
    padding: 0 10px;
} 
                             
.right_icon {
    margin-right: 20vw;
}
.left_icon {
    margin-left: 20vw;
}
#search-box {
    height: 3%;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
#search-box input {
    border: none;
    outline: none;
    width: 0vw;
    font-size: 16px;
    transition: all 0.8s;
    cursor: pointer;
}
#search-box:hover input {
    width: 10vw;
    transition: all 0.8s;
}

nav a p::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: black;
    transition:  0.3s linear;
    margin: auto;
    display: block;
}
nav a p:hover::after {
    width: 100%;
    margin-top: 8px;
}

header section img {
    display: flex;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    transition: 0.5s ease-in-out;
}
#text_image {
    position: absolute;
    top: 45%;
}
article aside p {
    display: flex;
    margin-left: 5%;
}
article aside a {
     color: black;
     margin-left: 90vw;
     position: relative;
     bottom: 4vh;
}
.big_text {
   font-size: 2rem;
}
.grey_text {
    color: grey;
}
article section {
    display: flex;
    width: 90vw;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
article section img {
    transition: 0.3s ease-in-out;
    width: 20vw;
    transform: scale(1);
}
article section img:hover {
    transform: scale(1.2);
}

section a p {
    padding-top: 2vh;
}
section a {
    text-decoration: none;
}

.product_condition1 {
    border-left: 0.2rem solid rgb(0, 0, 0);
    float:left;
    width:50%;
    padding-left: 1vw;
    color: black;
}
.name {
    color: rgb(68,68,68);
}
.product_color {
    color: rgb(110,110,110);
}
.price {
    color: black;
}
.the_essentials {
    display: flex;
    background-image: url(../images/the_essentials.webp);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5vh;
    height: 80vh;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 

.the_essentials_text1 {
    font-size: 3rem;
}
.the_essentials_text2 {
    font-size: 1.2rem;
    padding-bottom: 2%;
}
.the_essentials_text_color {
    color: white;
}

article figcaption a {
    display: flex;
    text-decoration: none;
    font-family:'Fredoka';
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 6vh;
    border-radius: 20px;
}

.shop_mens {
    background-color: gray;
    color: white;
}
.shop_womens1 {
    background-color: white;
    color: black;
}

.background_colors {
    display: flex;
    height: 60vh;
    flex: 90vw;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-around;
}
.shop_womens2 {
    background-color: lightskyblue;
}
.shop_mens2 {
    background-color: darkblue;
}
.shop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45vw;
}
.background_colors p {
    color: aliceblue; 
    font-size: 2rem;
    font-family: 'Abril Fatface'
}
.background_colors a {
    display: flex;
    position: relative;
    top: 20%;
    right: 15%;
    background-color: aliceblue;
    color: black;
    font-family: 'Fredoka', sans-serif;
    height: 5vh;
    border-radius: 12px;
    width: 7vw;
    align-items: center;
    justify-content: center;
}
.sign_in {
    display: flex;
    margin-top: 5%;
    background-color: black;
    height: 20vh;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: 'Fredoka', sans-serif;
}
.sign_in a {
    display: flex;
    margin-left: 5%;
    color: black;
    background-color: white;
    width: 8vw;
    height: 5vh;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
footer {
    display: flex;
    margin-top: 5%;
}
footer th a {
    text-decoration: none;
    color: grey;
    margin-left: 2vw;
}
footer th {
    height: 10vh;
}
footer a:hover {
    color: rgba(110,110,110,0.5);
}
footer th img {
    width: 15vw;
    margin-left: 3vw;
} 
footer th span {
    margin-left: 11.5vw;
    font-family: 'Fredoka', sans-serif;
}
iframe {
    width: 15vw;
    height: 20vh; 
    margin-top: 3vh;
}
th i {
    font-size: 2rem;
    padding: 1% 1%;
    color: black;
}
th i:hover {
    color: grey;
}
.find_us {
    font-size: 1.5rem;
    font-family: 'Fredoka', sans-serif;
}
/*
-fixa tbody "what is tbody, why"
-fixa responsity...
-gör en search sida eller animation
-studera in map coden
-kundvagn som räknar upp
*/
